*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

#myBtn{
    display: none;
}

.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/bb.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.logo:hover{
    color: black;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: "";
    height:3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: black;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}


.blog-section{
    width: 100%;
}

.blog-section .section-content{
    width: 85%;
    margin: 20px auto;
}

.blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .section-content .title  h2{
    font-weight: normal;
    position: relative;
    font-size: 35px;
    margin: 40px 0;
}
.title h2::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

.blog-section .section-content .title p{
    font-size: 20px;
    font-family: times;
    color: black;
    margin: top;
}
.blog-section .info p{
    text-align: center;
}

@media screen and(max-width: 922px){
    .blog-section .section-content .cards{
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and(max-width: 768px){
    .blog-section .section-content .cards{
        grid-template-columns: 1fr;
    }
}

.about-section{
    width: 100%;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.heading h1{
    font-weight: normal;
    position: relative;
    font-size: 50px;
    margin: 40px 0;
}
.heading h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
.heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin-bottom: 100px;
    padding: 50px;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.skills-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.skills-image:hover img{
    transform: scale(1.2);
}
.experience{
    flex: 1;
}
.experience h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: black;
}
.experience p{
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.experience .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #aaaaaa;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.experience .read-more:hover{
    background-color: blueviolet;
    color: aliceblue;
}
@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }

    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content{
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more{
        font-size: 16px;
    }
}

.gallery{
    margin-bottom: 200px;
    padding-top: 10px;
}
.gallery input{
    display: none;
}
.gallery .gallery-container{
    width: 100%;
    text-align: center;
}
.gallery h1{
    font-weight: normal;
    position: relative;
    font-size: 35px;
    margin: 40px 0;
}
.gallery h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.gallery .top-content{
    background-color: black;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(216, 199, 199);
}
.gallery h3{
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    background-color: black;
    color: white;
}
.gallery label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: #E5BEEC;
    cursor: pointer;
    transition:color .5s;
}
.gallery label:hover{
    color: rgb(240, 237, 237);
}
.gallery .photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.gallery .pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightpink;
    cursor: pointer;
    transition: .5s;
}
.gallery .pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.gallery .pic::before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transform: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.gallery .pic:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius:10px;
    width: 100%;
    height: 0;
    background-color: rgb(0,0,0,4);
    transition: 3s;
}
.gallery .pic:hover::after{
    height: 100%;
}
.gallery .pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
.gallery #check1:checked~ .gallery-container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
.gallery #check2:checked~ .gallery-container .photo-gallery .Family{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.gallery #check2:checked~ .gallery-container .photo-gallery .Friends,
.gallery #check2:checked~ .gallery-container .photo-gallery .Man{
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
.gallery #check3:checked~ .gallery-container .photo-gallery .Friends{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.gallery #check3:checked~ .gallery-container .photo-gallery .Family,
.gallery #check3:checked~ .gallery-container .photo-gallery .Man{
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
.gallery #check4:checked~ .gallery-container .photo-gallery .Friends{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.gallery #check4:checked~ .gallery-container .photo-gallery .Family,
.gallery #check4:checked~ .gallery-container .photo-gallery .Friends{
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

@media screen and (max-width:992px){
    .gallery .photo-gallery{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media screem and (max-width:768px){
    .gallery h1{
        font-weight: normal;
        position: relative;
        font-size: 28px;
        margin: 40px 0;
    }

    .gallery h3{
        display: none;
    }
    .gallery label{
        height: 100%;
        font-size: 11px;
        color: #E5BEEC;
        cursor: pointer;
        transition: color .5s;
    }
    .gallery label:hover{
        color: lightgray;
    }
    .gallery .photo-gallery{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*footer css */
.footer-basic{
    padding: 40pcx 0;
    background-color: white;
    color: black;
}
.footer-basic .social{
    text-align: center;
    padding-bottom: 25px;
}
.footer-basic .social a{
    font-size: 50px;
    color: black;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer-basic .social a:hover{
    opacity: 0.9;
}
.footer-basic .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 0;
}